
1. Simple Lambda:
 Write a lambda function that takes a number and returns its square. Test it with the
number 5.
2. Lambda with Multiple Arguments:
 Write a lambda function that takes two numbers and returns their product. Test it with the
numbers 4 and 5.
3. Sorting with Lambda:
 Given a list of tuples where each tuple contains a name and age, use sorted and a
lambda function to sort the list by age. Example list: [(&quot;Alice&quot;, 30), (&quot;Bob&quot;, 25),
(&quot;Charlie&quot;, 35)].
4. Lambda for String Manipulation:
 Write a lambda function that takes a string and returns it in uppercase. Test it with the
string &quot;hello world&quot;.
5. Conditional Lambda:
 Write a lambda function that takes a number and returns &quot;Even&quot; if the number is even,
and &quot;Odd&quot; if the number is odd. Test it with the number 3.

Function Exercises
6. Define Functions
 Write a function called greet that prints &quot;Hello, World!&quot;.
7. 2. Passing Arguments to Functions
 Write a function called add that takes two parameters and prints their sum.
 Write a function called print_info that takes a name and an age as parameters and prints
them in the format &quot;Name: [name], Age: [age]&quot;.
8. 3. Return a Value from a Function
 Write a function called multiply that takes two numbers as parameters and returns their
product.
 Write a function called is_even that takes a number as a parameter and returns True if the
number is even and False if it is odd.

9. 4. Scope of Objects
 Write a function called outer_function that defines a variable inside it, then defines and
calls an inner function that prints the variable.
 Write a script to demonstrate the difference between local and global variables by
defining a global variable, modifying it inside a function, and printing it both inside and
outside the function.
10. 5. Default Arguments
 Write a function called greet_person that takes a name as a parameter and prints &quot;Hello,
[name]&quot;. If no name is provided, it should default to &quot;Guest&quot;.
 Write a function called power that takes two numbers as parameters and returns the first
number raised to the power of the second number. If the second number is not provided,
it should default to 2.
11. 6. Positional and Keyword Arguments
 Write a function called describe_pet that takes two parameters: a pet&#39;s name and a pet&#39;s
type. Use positional arguments to call the function with &quot;Buddy&quot; and &quot;dog&quot;, and keyword
arguments to call the function with &quot;cat&quot; and &quot;Whiskers&quot;.
 Write a function called make_sandwich that takes three ingredients as parameters and
prints the sandwich&#39;s ingredients in the format &quot;Sandwich with [ingredient1],
[ingredient2], and [ingredient3]&quot;. Call the function using both positional and keyword
arguments.
12. 7. Variable-Length Arguments
 Write a function called sum_numbers that takes any number of numerical arguments and
returns their sum.
 Write a function called display_students that takes a course name and any number of
student names, and prints the course name followed by the list of student names.

Complex Function Tasks with Lists, Tuples, and Dictionaries
13. Student Grade Management
 Scenario: You have a list of tuples where each tuple contains a student&#39;s name and their
grades in three subjects.
o Example: students = [(&quot;Alice&quot;, [85, 90, 92]), (&quot;Bob&quot;, [78, 81, 85]), (&quot;Charlie&quot;,
[92, 88, 91])]

 Tasks:
1. Write a function to calculate the average grade for each student.

2. Write a function to find the student with the highest average grade.
3. Write a function to find the student with the lowest average grade.
4. Write a function to add a new student with their grades to the list.

14. 2. Inventory Management
 Scenario: You have a dictionary representing an inventory of products where the keys
are product names and the values are tuples containing the price and the stock quantity.
o Example: inventory = {&quot;apple&quot;: (0.5, 100), &quot;banana&quot;: (0.3, 150), &quot;orange&quot;: (0.7,
120)}
 Tasks:
1. Write a function to add a new product to the inventory.
2. Write a function to update the price and stock quantity of an existing product.
3. Write a function to calculate the total value of the inventory (price * quantity for each
product).
4. Write a function to find the product with the highest stock quantity.

o Employee Data Processing
 Scenario: You have a list of dictionaries where each dictionary contains details of an
employee: their name, age, department, and salary.
o Example: employees = [{&quot;name&quot;: &quot;Alice&quot;, &quot;age&quot;: 30, &quot;department&quot;: &quot;HR&quot;,
&quot;salary&quot;: 50000}, {&quot;name&quot;: &quot;Bob&quot;, &quot;age&quot;: 25, &quot;department&quot;: &quot;IT&quot;, &quot;salary&quot;:
60000}, {&quot;name&quot;: &quot;Charlie&quot;, &quot;age&quot;: 35, &quot;department&quot;: &quot;Finance&quot;, &quot;salary&quot;:
55000}]
 Tasks:
1. Write a function to add a new employee to the list.
2. Write a function to remove an employee from the list by their name.
3. Write a function to find the average salary of employees in a specific department.
4. Write a function to find the employee with the highest salary.
5. Write a function to list all employees in a specific department.

o Book Collection Management
 Scenario: You have a dictionary where the keys are genres and the values are lists of
tuples, each containing a book title and its author.
o Example: books = {&quot;Science Fiction&quot;: [(&quot;Dune&quot;, &quot;Frank Herbert&quot;),
(&quot;Neuromancer&quot;, &quot;William Gibson&quot;)], &quot;Fantasy&quot;: [(&quot;The Hobbit&quot;, &quot;J.R.R.
Tolkien&quot;), (&quot;Harry Potter&quot;, &quot;J.K. Rowling&quot;)]}

 Tasks:
1. Write a function to add a new book to a genre.

2. Write a function to remove a book from a genre.
3. Write a function to find all books by a specific author across all genres.
4. Write a function to list all books in a specific genre.
5. Write a function to count the total number of books in the collection.
15. Movie Ratings
 Scenario: You have a dictionary where the keys are movie titles and the values are lists
of tuples, each containing a reviewer&#39;s name and their rating for the movie.
o Example: movies = {&quot;Inception&quot;: [(&quot;Alice&quot;, 9), (&quot;Bob&quot;, 8)], &quot;Titanic&quot;: [(&quot;Alice&quot;,
7), (&quot;Charlie&quot;, 8)]}

 Tasks:
1. Write a function to add a new rating for a movie.
2. Write a function to update an existing rating for a movie.
3. Write a function to calculate the average rating for a movie.
4. Write a function to find the movie with the highest average rating.
5. Write a function to list all movies reviewed by a specific reviewer.

In [22]:
square = lambda x: x**2
print("Square of 5:", square(5))

Square of 5: 25

In [23]:
product = lambda x, y: x * y
print("Product of 4 and 5:", product(4, 5))

Product of 4 and 5: 20

In [24]:
people = [("Alice", 30), ("Bob", 25), ("Charlie", 35)]
sorted_people = sorted(people, key=lambda person: person[1])
print("People sorted by age:", sorted_people)

People sorted by age: [('Bob', 25), ('Alice', 30), ('Charlie', 35)]

In [25]:
to_upper = lambda s: s.upper()
print("Uppercase string:", to_upper("hello world"))

Uppercase string: HELLO WORLD

In [26]:
def greet():
    print("Hello, World!")

greet()

Hello, World!

In [27]:
def add(a, b):
    print("Sum:", a + b)

add(3, 7)

def print_info(name, age):
    print(f"Name: {name}, Age: {age}")

print_info("Alice", 30)

Sum: 10
Name: Alice, Age: 30

In [28]:
def multiply(a, b):
    return a * b

print("Product:", multiply(4, 5))

def is_even(x):
    return x % 2 == 0

print("Is 4 even?", is_even(4))

Product: 20
Is 4 even? True

In [29]:
def outer_function():
    outer_var = "I'm outside!"

    def inner_function():
        print(outer_var)

    inner_function()

outer_function()

global_var = "Global Variable"

def modify_variable():
    global global_var
    global_var = "Modified Global Variable"
    print("Inside function:", global_var)

modify_variable()
print("Outside function:", global_var)

I'm outside!
Inside function: Modified Global Variable
Outside function: Modified Global Variable

In [30]:
def greet_person(name="Guest"):
    print(f"Hello, {name}!")

greet_person("Alice")
greet_person()

def power(base, exponent=2):
    return base ** exponent

print("3^4 =", power(3, 4))
print("5^2 =", power(5))

Hello, Alice!
Hello, Guest!
3^4 = 81
5^2 = 25

In [31]:
def describe_pet(pet_name, pet_type):
    print(f"{pet_name} is a {pet_type}.")

describe_pet("Buddy", "dog")
describe_pet(pet_type="cat", pet_name="Whiskers")

def make_sandwich(ingredient1, ingredient2, ingredient3):
    print(f"Sandwich with {ingredient1}, {ingredient2}, and {ingredient3}.")

make_sandwich("lettuce", "tomato", "bacon")
make_sandwich(ingredient1="ham", ingredient2="cheese", ingredient3="lettuce")

Buddy is a dog.
Whiskers is a cat.
Sandwich with lettuce, tomato, and bacon.
Sandwich with ham, cheese, and lettuce.

In [32]:
def sum_numbers(*args):
    return sum(args)

print("Sum of numbers:", sum_numbers(1, 2, 3, 4))

def display_students(course_name, *students):
    print(f"Course: {course_name}")
    print("Students:", ", ".join(students))

display_students("Python 101", "Alice", "Bob", "Charlie")

Sum of numbers: 10
Course: Python 101
Students: Alice, Bob, Charlie

In [33]:
students = [("Alice", [85, 90, 92]), ("Bob", [78, 81, 85]), ("Charlie", [92, 88, 91])]

def average_grade(student):
    return sum(student[1]) / len(student[1])

def highest_average(students):
    return max(students, key=average_grade)

def lowest_average(students):
    return min(students, key=average_grade)

def add_student(students, name, grades):
    students.append((name, grades))

print("Average grades:")
for student in students:
    print(f"{student[0]}: {average_grade(student)}")

print("Student with highest average grade:", highest_average(students))
print("Student with lowest average grade:", lowest_average(students))

add_student(students, "David", [88, 90, 92])
print("Updated student list:", students)

Average grades:
Alice: 89.0
Bob: 81.33333333333333
Charlie: 90.33333333333333
Student with highest average grade: ('Charlie', [92, 88, 91])
Student with lowest average grade: ('Bob', [78, 81, 85])
Updated student list: [('Alice', [85, 90, 92]), ('Bob', [78, 81, 85]), ('Charlie', [92, 88, 91]), ('David', [88, 90, 92])]